langchain==0.3.13
langchain-community==0.3.1
langchain-text-splitters==0.3.3
langchain-huggingface==0.1.0
langchain-groq==0.2.2
langserve[all]
streamlit
chromadb==0.4.24
langchain-chroma==0.2.0
python-dotenv
